<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diretivas v-style</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    
    
    <div id="app">



<input type="text" name="" v-model="fontSizeProp" id="" placeholder="Digite o valor da fonte">

<h2 :style="{fontSize: fontSizeProp + 'px'}">  Evan You</h2>


<hr>

<h2>Digite o valor de cada cor</h2>

<input type="text" v-model="styleRed"><input type="text" v-model="styleGreen"><input type="text" v-model="styleBlue">


<div :style="styleRgb">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni vel nesciunt reprehenderit molestiae voluptatibus nostrum commodi, et quae eaque id, reiciendis distinctio porro dicta temporibus. Similique dolore officiis eveniet asperiores.</div>


    </div>



    <script src="/PrimeirosPassos/script.js"></script>
</body>

</html>